@media screen and (max-width: 991px) {
  .height-col-one {
    height: 200px;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .height-col-one {
    height: 30%;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .height-col-two {
    height: 60%;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .height-col-two {
    height: 92%;
    width: 100%;
  }
}
