<ion-content>
  <form>
    <ion-grid>
      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-title>Header?</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-xs="2" size-xs="8">
          <ion-item fill="outline" class="ion-margin">
            <ion-label position="stacked">
              Name
            </ion-label>
            <ion-input>
            </ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin">
            <ion-label position="stacked">
              Price
            </ion-label>
            <ion-input>
            </ion-input>
          </ion-item>

          <ion-item fill="outline" class="ion-margin">
            <ion-label position="stacked">
              Count
            </ion-label>
            <ion-input>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
