<ion-toolbar class="transparent-for-ionic-component-tag">
  <ion-buttons slot="start">
    <ion-button color="light" >ALL</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon color="light" name="calendar"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-grid>
  <ion-row style="background: lightgray">
    <ion-col  style="--background: lightgray" class="ion-padding">
          <ion-title>December, 2022</ion-title>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let i of [1,2,3,4,5]" style="border-bottom: 1px solid lightgray;" class="ion-margin-top ion-margin-bottom">
      <ion-col size-xs="12" size-lg="4">
        <ion-label>
          <p>
            Username
          </p>
        </ion-label>
      </ion-col>
      <ion-col size-xs="12" size-lg="4">
        <ion-label>
          <p>
            Email
          </p>
        </ion-label>
      </ion-col>
      <ion-col size-xs="12" size-lg="4">
        <ion-label>
          <p>
            Action
          </p>
        </ion-label>
      </ion-col>
  </ion-row>
</ion-grid>
