<ion-grid class="ion-no-margin ion-no-padding" *ngIf="formGroup">
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col class="ion-no-margin ion-no-padding">

      <form [formGroup]="formGroup" (ngSubmit)="submitData()">

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-margin-end ion-align-items-end" *ngFor="let form of formData" [sizeXs]="form.sizeXs" [sizeSm]="form.sizeSm"
                     [sizeMd]="form.sizeMd" [sizeLg]="form.sizeLg" [sizeXl]="form.sizeXl">
              <ion-item class="ion-no-margin" fill="outline">
                <ion-label class="ion-no-margin " position="stacked">{{form.name}}</ion-label>
                <ion-input class="ion-no-margin " [formControlName]="form.name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-button class="ion-align-items-end" color="secondary" size="small" type="submit">Submit</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>

    </ion-col>
  </ion-row>
</ion-grid>
