<ion-header>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col offset-xs="3" offset-sm="5" offset-md="7" offset-lg="9" size-xs="9" size-sm="7" size-md="5" size-lg="3">
        <ion-toolbar>
          <ion-item style="--min-height: 25px;" fill="outline" class="ion-margin">
            <ion-input #buildingName (keyup.enter)="addBuildingName()" placeholder="Enter Building Name"></ion-input>
          </ion-item>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let i of[1,2,3,4,5]" size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
        <ion-card button="true" style=" --background: #ffffff;
                        --color: #52ffe4">
          <ion-card-header>
            <ion-card-title style="--color: #000" class="ion-text-center">setting RoofTopBar</ion-card-title>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
