<ion-card mode="ios">
  <ion-grid>
    <ion-row>

      <ion-col class="ion-align-items-center" style=" background: aquamarine" size-xs="2">
        No
      </ion-col>
      <ion-col style=" background: wheat"  size-xs="10" >
        Property Name
      </ion-col>

      <ion-col offset="2" style=" background: purple" size-xs="5" >
        Price
      </ion-col>

      <ion-col  style=" background: whitesmoke"  size-xs="5"   >
        Count
      </ion-col>


      <ion-col class="ion-text-right" offset="2" style=" background: ivory" size="10" >
        Total
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
