
<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" size-xs="12">
                    Store
                </ion-col>
                <ion-col size-sm="6" size-xs="12">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button>
                                    Add product
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-input  style="width: auto; background: rgba(250,250,250,1);border: solid 1px rgba(218,218,218,1);height: 25px;border-radius: 7px;" >
                                </ion-input>
                            </ion-col>
                            <ion-col>
                                <ion-button>
                                    ok
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>