<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" size-xs="12">
                    Store
                </ion-col>
                <ion-col size-sm="6" size-xs="12">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button (click)="testingPopUp()">
                                    Add product
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-input  style="width: auto; background: rgba(250,250,250,1);border: solid 1px rgba(218,218,218,1);height: 25px;border-radius: 7px;" >
                                </ion-input>
                            </ion-col>
                            <ion-col>
                                <ion-button>
                                    ok
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <ion-title>Products</ion-title>
    </ion-item-divider>
    <ion-list>
      <ion-card *ngFor="let product of productList | testing">
      <ion-item>
        <ion-label slot="start">Code</ion-label>
        <ion-card-subtitle>{{product.Code}}</ion-card-subtitle>
      </ion-item>
        <ion-item>
          <ion-label slot="start">Name</ion-label>
          <ion-card-subtitle>{{product.Name}}</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-label slot="start">Count</ion-label>
          <ion-card-subtitle>{{product.Count}}</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-label slot="start">Price</ion-label>
          <ion-card-subtitle>{{product.Price}}</ion-card-subtitle>
        </ion-item>
        <ion-item-divider>
          <ion-button (click)="editProduct(product)" slot="end">Edit</ion-button>
        </ion-item-divider>
      </ion-card>
    </ion-list>
  </ion-item-group>


</ion-content>
