<ion-grid *ngIf="roomData && siteInformationService.siteInformation">
  <ion-row class="ion-no-padding ion-align-items-center" style="background: whitesmoke;">
    <ion-col class="ion-no-margin" size-xs="12" style="background: #eaeaea;">
      <ion-item class="ion-no-margin" lines="none" style="--color: black; --min-height: 15px; --background: #eaeaea;">
        <strong>PACKAGE</strong>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-margin" size-xs="6" size-sm="4">
      <ion-segment mode="ios" value="Section" (ionChange)="segmentChange($event)">
        <ion-segment-button value="Section">Section</ion-segment-button>
        <ion-segment-button value="FullTime">Full Time</ion-segment-button>
      </ion-segment>
      <ion-item lines="none" style="--min-height: 5vh;--background: whitesmoke">
        <ion-select #sectionSelectValue *ngIf="segmentValue === 'Section'" style="width: 100%;" interface="popover" placeholder="Select Package">
          <ion-select-option
            *ngFor="let roomTypePackage of siteInformationService.siteInformation.roomTypePackage |
            roomTypePackageFilter: roomData.roomType.id: segmentValue"
          [value]="roomTypePackage">{{roomTypePackage.hour+'HR = '+ roomTypePackage.price+'MMK'}}</ion-select-option>
        </ion-select>

        <ion-select *ngIf="segmentValue === 'FullTime'" style="width: 100%;" interface="popover" placeholder="Select Package">
          <ion-select-option
            *ngFor="let roomTypePackage of siteInformationService.siteInformation.roomTypePackage |
            roomTypePackageFilter: roomData.roomType.id: segmentValue"
            [value]="roomTypePackage">{{roomTypePackage.startHour + 'HR - ' + roomTypePackage.endHour+'HR = ' + roomTypePackage.price+'MMK'}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-padding" size-xs="2">
      <ion-button class="ion-no-margin" style="width: 50px;--border-radius: 9999px;" (click)="setStayTime()" size="small" color="light" >
        <ion-icon size="small" color="success" name="checkmark"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-margin" size-xs="4" size-sm="6">
      <div style="width: 100%;--min-height: 5vh;">
        <ion-chip class="ion-float-left" color="danger" slot="end">1H</ion-chip>
        <ion-chip class="ion-float-left" color="danger" slot="end">3H</ion-chip>
        <ion-chip class="ion-float-left" color="danger" slot="end">6H</ion-chip>
        <ion-chip class="ion-float-left" color="danger" slot="end">1D</ion-chip>
        <ion-chip class="ion-float-left" color="danger" slot="end">3D</ion-chip>
        <ion-chip class="ion-float-left" color="danger" slot="end">5D</ion-chip>
      </div>
    </ion-col>
  </ion-row>
   <ion-row class="ion-no-padding ion-margin-top ion-align-items-center" style="background: whitesmoke;">
    <ion-col class="ion-margin-bottom" size-xs="12" style="background: #eaeaea;">
      <ion-item class="ion-no-margin" lines="none" style="--color: black; --min-height: 15px; --background: #eaeaea;">
        <strong>ADD&nbsp;&nbsp;ITEM</strong>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-margin" size-xs="12" size-sm="4">
      <ion-item lines="none" style="--min-height: 5vh;--background: whitesmoke;">
        <ion-select style="width: 100%;" interface="popover" placeholder="Select Category">
          <ion-select-option>Store</ion-select-option>
          <ion-select-option>Restaurant</ion-select-option>
          <ion-select-option>Mini Bar</ion-select-option>
          <ion-select-option>FOC Items</ion-select-option>
          <ion-select-option>Restaurant</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-padding ion-no-margin" size-sm="8">
<!--      <ion-row class="ion-no-padding ion-no-margin">-->
<!--        <ion-col class="ion-no-padding ion-no-margin" size-xs="9">-->
<!--          <ion-item fill="outline" style="&#45;&#45;min-height: 8px; margin-left: 20px;">-->
<!--            <ion-input placeholder="Ender Code"></ion-input>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--        <ion-col class="ion-no-padding ion-no-margin" size-xs="3">-->
<!--          <ion-item lines="none" style="&#45;&#45;min-height: 6px;">-->
<!--            <ion-button size="small" color="light" style="&#45;&#45;border-radius: 9999px; &#45;&#45;min-height: 4px;">-->
<!--              <ion-text style="width:25px;" color="success">OK</ion-text>-->
<!--            </ion-button>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--        <ion-col class="ion-no-margin" size-xs="4">-->
<!--          <ion-text>Property Name</ion-text>-->
<!--        </ion-col>-->
<!--        <ion-col class="ion-no-margin" size-xs="2">-->
<!--          <ion-button size="small" color="danger"-->
<!--                      fill="clear">- -->
<!--          </ion-button>-->
<!--          <ion-input style="margin-left: 3px; margin-right: 3px;&#45;&#45;width: 10px" placeholder="21"></ion-input>-->
<!--          <ion-button size="small"-->
<!--                      color="danger" fill="clear">+-->
<!--          </ion-button>-->
<!--        </ion-col>-->
<!--        <ion-col class="ion-no-margin" size-xs="3">-->
<!--          <ion-button class="ion-no-margin" size="small" color="light" style="&#45;&#45;border-radius: 9999px;">-->
<!--            <ion-text style="width:25px;" color="success">ADD</ion-text>-->
<!--          </ion-button>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
      <ion-grid class="ion-no-margin ion-no-padding">

        <ion-row class="ion-no-margin ion-padding">
          <ion-col size-xs="10">
            <input style="width: 100%;padding: 7px;border: 1px solid black;border-radius: 5px;background: whitesmoke;" placeholder="Ender Code"/>
          </ion-col>
          <ion-col size-xs="2">
            <ion-button style="width: 50px;margin-left: 15px" size="small" color="light">
              <ion-text color="success">OK</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-margin ion-padding">
          <ion-col size-xs="6">
            <input style="width: 100%;padding: 7px;border: none;background: none" value="Property Name" disabled="true"/>
          </ion-col>
          <ion-col size-xs="4" style="display: flex">
            <ion-button size="small" color="danger" fill="clear">-</ion-button>
            <ion-input style="--width: 100%" placeholder="1000"></ion-input>
            <ion-button size="small" color="danger" fill="clear">+</ion-button>
          </ion-col>
          <ion-col size-xs="2">
            <ion-button style="width: 50px;margin-left: 15px" size="small" color="light">
              <ion-text color="success">ADD</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-padding ion-margin-top" style="background: whitesmoke;">
    <ion-col class="ion-no-margin" size-xs="12" style="background: #eaeaea;">
      <ion-item class="ion-no-margin" lines="none" style="--color: black; --min-height: 15px; --background: #eaeaea;">
        <strong>RESTAURANT</strong>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item-divider *ngFor="let i of [1,2,3,4,5]" style="background: whitesmoke;">
        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row class="ion-no-margin ion-no-padding ion-align-items-center">
            <ion-col class="ion-no-margin ion-no-padding" size-xs="4">
              ထမင်းေကြာ်
            </ion-col>
            <ion-col class="ion-no-margin ion-no-padding" size-xs="8">
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
                  <ion-col class="ion-no-margin ion-no-padding">
                    <ion-text color="danger">1230</ion-text>
                  </ion-col>
                  <ion-col size="auto" class="ion-align-self-auto ion-no-margin ion-no-padding">
                    <ion-row class="ion-align-items-center">
                      <ion-button size="small" color="danger"
                                  fill="clear">-
                      </ion-button>
                      <strong style="margin-left: 3px; margin-right: 3px;">21</strong>
                      <ion-button size="small"
                                  color="danger" fill="clear">+
                      </ion-button>
                    </ion-row>
                  </ion-col>
                  <ion-col class="ion-text-right">
                    <ion-card-subtitle color="danger" class="ion-margin-end">12398</ion-card-subtitle>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>
    </ion-col>
  </ion-row>

</ion-grid>

<ion-grid style="position: absolute; bottom: 5px; left: 0; right: 0; margin: 0; padding: 0;">
  <ion-row style="align-items: center; justify-content: right; border-top: 1px solid lightgray;
   height: 30px; margin: 0; padding: 0">
    <ion-button  color="danger"  style="height: 25px; border-radius: 0;  margin: 0 20px 0 0;">Check In</ion-button>
    <ion-text  color="danger" class="ion-margin-end"><strong>123452MMK</strong></ion-text>
  </ion-row>
</ion-grid>
