<ion-grid>
  <ion-row class="ion-no-padding ion-align-items-center">
    <ion-col class="ion-no-margin" size-xs="12" style="background: #eaeaea;">
      <ion-item class="ion-no-margin" lines="none" style="--color: black; --min-height: 15px; --background: #eaeaea;">
        <strong>PACKAGE</strong>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-margin" size-xs="6" size-sm="6">
      <ion-item lines="none" style="--min-height: 5vh">
        <ion-select style="width: 100%;" class="ion-margin-end" interface="popover" placeholder="Select">
          <ion-select-option>1H</ion-select-option>
          <ion-select-option>2H</ion-select-option>
          <ion-select-option>3H</ion-select-option>
          <ion-select-option>4H</ion-select-option>
          <ion-select-option>5H</ion-select-option>
          <ion-select-option>6H</ion-select-option>
          <ion-select-option>1D</ion-select-option>
          <ion-select-option>2D</ion-select-option>
        </ion-select>
        <ion-button slot="end" class="ion-no-margin" size="small" color="light" style="--border-radius: 9999px;">
          <ion-icon size="small" color="success" name="checkmark"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-margin" size-xs="6" size-sm="6">
      <div style="width: 100%;--min-height: 5vh">
        <ion-chip class="ion-float-left" color="danger" slot="end">1H</ion-chip>
        <ion-chip class="ion-float-left" color="danger" slot="end">3H</ion-chip>
        <ion-chip class="ion-float-left" color="danger" slot="end">6H</ion-chip>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-padding ion-margin-top ion-align-items-center">
    <ion-col class="ion-no-margin" size-xs="12" style="background: #eaeaea;">
      <ion-item class="ion-no-margin" lines="none" style="--color: black; --min-height: 15px; --background: #eaeaea;">
        <strong>ADD&nbsp;&nbsp;ITEM</strong>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-margin" size-xs="12" size-sm="5">
      <ion-item lines="none" class="ion-no-margin" style="--min-height: 5vh;">
        <ion-select style="width: 100%;" interface="popover" placeholder="Select Category">
          <ion-select-option>Store</ion-select-option>
          <ion-select-option>Restaurant</ion-select-option>
          <ion-select-option>Mini Bar</ion-select-option>
          <ion-select-option>FOC Items</ion-select-option>
          <ion-select-option>Restaurant</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-padding" size-sm="7">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-margin" size-xs="12">
          <ion-item lines="none" style="--min-height: 5vh">
            <ion-input placeholder="Enter Code"></ion-input>
            <ion-button slot="end" class="ion-no-margin" size="small" color="light" style="--border-radius: 9999px;">
              <ion-text color="success">OK</ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-margin" size-xs="12">
          <ion-item lines="none" style="--min-height: 5px;">
            <ion-label>Property name</ion-label>
            <ion-button slot="end" class="ion-no-margin" size="small" color="light" style="--border-radius: 9999px;">
              <ion-text color="success">ADD</ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>

  <ion-row class="ion-no-padding ion-margin-top">
    <ion-col class="ion-no-margin" size-xs="12" style="background: #eaeaea;">
      <ion-item class="ion-no-margin" lines="none" style="--color: black; --min-height: 15px; --background: #eaeaea;">
        <strong>RESTAURANT</strong>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item-divider *ngFor="let i of [1,2,3,4,5]">
        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row class="ion-no-margin ion-no-padding ion-align-items-center">
            <ion-col class="ion-no-margin ion-no-padding" size-xs="4">
              ထမင်းေကြာ်
            </ion-col>
            <ion-col class="ion-no-margin ion-no-padding" size-xs="8">
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
                  <ion-col class="ion-no-margin ion-no-padding">
                    <ion-text color="danger">1230</ion-text>
                  </ion-col>
                  <ion-col size="auto" class="ion-align-self-auto ion-no-margin ion-no-padding">
                    <ion-row class="ion-align-items-center">
                      <ion-button size="small" color="danger"
                                  fill="clear">-
                      </ion-button>
                      <strong style="margin-left: 3px; margin-right: 3px;">21</strong>
                      <ion-button size="small"
                                  color="danger" fill="clear">+
                      </ion-button>
                    </ion-row>
                  </ion-col>
                  <ion-col class="ion-text-right">
                    <ion-card-subtitle color="danger" class="ion-margin-end">12398</ion-card-subtitle>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>
    </ion-col>
  </ion-row>

</ion-grid>
