<ion-grid class="ion-no-margin ion-no-padding">
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col offset-xs="5" offset-sm="5" offset-md="7" offset-lg="9" size-xs="7" size-sm="7" size-md="5" size-lg="3">
      <ion-toolbar class="transparent-for-ionic-component-tag">
        <ion-item style="--min-height: 25px;" fill="outline" class="ion-margin">
          <ion-input #buildingName (keyup.enter)="addBuildingName()" placeholder="Enter Building Name"></ion-input>
        </ion-item>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content class="transparent-for-ionic-component-tag">

  <ion-grid *ngIf="siteInformationService.siteInformation && siteInformationService.siteInformation.buildingName.length">
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="4" *ngFor="let building of siteInformationService.siteInformation.buildingName">
        <ion-card>
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row>
              <ion-col *ngIf="check" class="ion-text-center" [routerLink]="'/admin-home/SETTING/buildingListCreation/roomListCreation/'+building.id">
                <ion-label color="dark" class="ion-text-wrap">
                  <ion-input readonly="true" class="ion-no-padding ion-margin" style="font-weight: bold;"
                             value="{{building.name}}"></ion-input>
                </ion-label>
              </ion-col>
              <ion-col *ngIf="!check" class="ion-text-center">
                <ion-label color="dark" class="ion-text-wrap">
                  <ion-input class="ion-no-padding ion-margin" style="font-weight: bold;"
                             value="{{building.name}}"></ion-input>
                </ion-label>
              </ion-col>
              <ion-col size-xs="auto">
                <ion-button color="danger" class="ion-no-margin ion-no-padding ion-float-right"
                            expand="full"
                            style="height: 100%;" (click)="deleteBuildName(building.id)">
                  <ion-icon size="small" class="ion-padding" name="trash" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="check" fill="clear" color="medium" expand="full" class="ion-no-margin ion-no-padding ion-float-right"
                            style="height: 100%;" (click)="editBuiltName(building.id)">
                  <ion-icon size="small" class="ion-padding" name="create-outline" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!check" fill="clear" color="medium" expand="full" class="ion-no-margin ion-no-padding ion-float-right"
                            style="height: 100%;" (click)="doneBuiltName(building.id)">
                  <ion-icon size="small" class="ion-padding" name="checkmark" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!--  <ion-grid-->
<!--    *ngIf="siteInformationService.siteInformation &&  siteInformationService.siteInformation.buildingName.length">-->
<!--    <ion-row>-->
<!--      <ion-col size-xs="12" size-sm="6" size-md="4"-->
<!--               *ngFor="let building of siteInformationService.siteInformation.buildingName"-->
<!--               [routerLink]="'/admin-home/SETTING/buildingList/roomList/'+building.id">-->
<!--        <ion-card color="light" class="ion-text-center ion-padding">-->
<!--          <ion-label color="dark" class="ion-text-wrap ion-padding ion-margin">-->
<!--            <strong>{{building.name}}</strong></ion-label>-->
<!--          <ion-item-divider>-->
<!--            <ion-icon slot="end" name="create-outline" (click)="editBuiltName(building.id)"></ion-icon>-->
<!--            <ion-icon slot="end" name="trash" (click)="deleteBuildName(building.id)"></ion-icon>-->
<!--          </ion-item-divider>-->
<!--          <ion-item-divider>-->
<!--            <ion-text slot="end">View Rooms</ion-text>-->
<!--          </ion-item-divider>-->
<!--        </ion-card>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->

<!--<ion-toolbar>-->
<!--  <ion-button color="medium" slot="end" (click)="addBuildingName()" size="small">-->
<!--    <ion-icon slot="icon-only" name="add-circle"></ion-icon>-->
<!--    Building Name-->
<!--  </ion-button>-->
<!--</ion-toolbar>-->

<!--  <ion-grid class="ion-no-margin" *ngIf="siteInformationService.siteInformation && siteInformationService.siteInformation.buildingName.length">-->
<!--    <ion-row class="ion-margin ion-align-items-center" style="background: whitesmoke;"-->
<!--             *ngFor="let building of siteInformationService.siteInformation.buildingName">-->
<!--      <ion-col size-xs="12" size-sm="6"  class="ion-text-center">-->
<!--        <ion-label *ngIf="check" color="dark" class="ion-text-wrap ion-padding ion-margin">-->
<!--          <strong>{{building.name}}</strong>-->
<!--        </ion-label>-->
<!--        <ion-label *ngIf="!check" color="dark" class="ion-text-wrap">-->
<!--          <ion-input class="ion-no-padding ion-no-margin" style="font-weight: bold;"-->
<!--                     value="{{building.name}}"></ion-input>-->
<!--        </ion-label>-->
<!--      </ion-col>-->
<!--      <ion-col class="ion-text-center" size-xs="2" size-sm="1">-->
<!--        <ion-icon *ngIf="check" name="create-outline" (click)="editBuiltName(building.id)"></ion-icon>-->
<!--        <ion-icon *ngIf="!check" color="success" name="checkmark" (click)="doneBuiltName(building.id)"></ion-icon>-->
<!--      </ion-col>-->
<!--      <ion-col size-xs="8" size-sm="4" class="ion-text-center" [routerLink]="'/admin-home/SETTING/buildingListCreation/roomListCreation/'+building.id">-->
<!--        <ion-text><small>View Rooms</small></ion-text>-->
<!--      </ion-col>-->
<!--      <ion-col size-xs="2" size-sm="1" class="ion-text-center">-->
<!--        <ion-icon color="danger" name="trash" (click)="deleteBuildName(building.id)"></ion-icon>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
