<ion-content class="transparent-for-ionic-component-tag">
<ion-list inset="true">
  <ion-item-divider >
    <ion-grid >
      <ion-row class="ion-align-items-center ">
      <ion-col class="ion-no-margin ion-no-padding " size-xs="4">
        Soap
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding" size-xs="8">
        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <ion-text color="danger">3223MMK</ion-text>
            </ion-col>
            <ion-col size="auto" class="ion-align-self-auto ion-no-margin ion-no-padding">
              <ion-row class="ion-align-items-center">
                <ion-button size="small" color="danger"
                            fill="clear">-
                </ion-button>
                <strong style="margin-left: 3px; margin-right: 3px;">21</strong>
                <ion-button size="small"
                            color="danger" fill="clear">+
                </ion-button>
              </ion-row>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-card-subtitle color="danger" class="ion-margin-end">4623MMK</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-divider>

  <ion-item-divider>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-margin ion-no-padding" size-xs="4">
          water
        </ion-col>
        <ion-col class="ion-no-margin ion-no-padding" size-xs="8">
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
              <ion-col class="ion-no-margin ion-no-padding">
                <ion-text color="danger">1267MMK</ion-text>
              </ion-col>
              <ion-col size="auto" class="ion-align-self-auto ion-no-margin ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-button size="small" color="danger"
                              fill="clear">-
                  </ion-button>
                  <strong style="margin-left: 3px; margin-right: 3px;">21</strong>
                  <ion-button size="small"
                              color="danger" fill="clear">+
                  </ion-button>
                </ion-row>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-card-subtitle color="danger" class="ion-margin-end">4322MMK</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-item-divider>

  <ion-item-divider>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-margin ion-no-padding" size-xs="4">
          drink
        </ion-col>
        <ion-col class="ion-no-margin ion-no-padding" size-xs="8">
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
              <ion-col class="ion-no-margin ion-no-padding">
                <ion-text color="danger">0MMK</ion-text>
              </ion-col>
              <ion-col size="auto" class="ion-align-self-auto ion-no-margin ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-button size="small" color="danger"
                              fill="clear">-
                  </ion-button>
                  <strong style="margin-left: 3px; margin-right: 3px;">21</strong>
                  <ion-button size="small"
                              color="danger" fill="clear">+
                  </ion-button>
                </ion-row>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-card-subtitle color="danger" class="ion-margin-end">43444MMK</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      </ion-grid>
        </ion-item-divider>



          <ion-item-divider>
            <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-margin ion-no-padding" size-xs="4">
          Soge
        </ion-col>
        <ion-col class="ion-no-margin ion-no-padding" size-xs="8">
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
              <ion-col class="ion-no-margin ion-no-padding">
                <ion-text color="danger">30445MMK</ion-text>
              </ion-col>
              <ion-col size="auto" class="ion-align-self-auto ion-no-margin ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-button size="small" color="danger"
                              fill="clear">-
                  </ion-button>
                  <strong style="margin-left: 3px; margin-right: 3px;">21</strong>
                  <ion-button size="small"
                              color="danger" fill="clear">+
                  </ion-button>
                </ion-row>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-card-subtitle color="danger" class="ion-margin-end">6666MMK</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
          </ion-grid>
            </ion-item-divider>



                <ion-item-divider>
                  <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-margin ion-no-padding" size-xs="4">
          chicken
        </ion-col>
        <ion-col class="ion-no-margin ion-no-padding" size-xs="8">
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row class="ion-align-items-center ion-no-margin ion-no-padding">
              <ion-col class="ion-no-margin ion-no-padding">
                <ion-text color="danger">7777MMK</ion-text>
              </ion-col>
              <ion-col size="auto" class="ion-align-self-auto ion-no-margin ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-button size="small" color="danger"
                              fill="clear">-
                  </ion-button>
                  <strong style="margin-left: 3px; margin-right: 3px;">21</strong>
                  <ion-button size="small"
                              color="danger" fill="clear">+
                  </ion-button>
                </ion-row>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-card-subtitle color="danger" class="ion-margin-end">9000MMK</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
                  </ion-grid>
  </ion-item-divider>


</ion-list>
</ion-content>

<ion-grid style="position: absolute; bottom: 5px; left: 0; right: 0; margin: 0; padding: 0;">
  <ion-row style="align-items: center; justify-content: right; border-top: 1px solid lightgray;
   height: 30px; margin: 0; padding: 0">
    <ion-button  color="danger"  style="height: 25px; border-radius: 0;  margin: 0 20px 0 0;">Cash</ion-button>
    <ion-text  color="danger" class="ion-margin-end"><strong>275,000MMK</strong></ion-text>
   </ion-row>
</ion-grid>



