<!--<ion-header mode="ios">-->
<!--  <ion-toolbar>-->
<!--    <ion-menu-button slot="start"></ion-menu-button>-->
<!--    <ion-title>-->
<!--      Room-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->


   <ion-card>
  <ion-grid>
    <ion-row style="border-bottom: 1px solid lightgray">
      <ion-col style="border-right: 1px solid lightgray">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="ion-margin-end" name="calendar"></ion-icon>
            <ion-text>Check In</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="fontSize" size="6">
            <strong>16</strong>
          </ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-text>MAY</ion-text>
            </ion-row>
            <ion-row>
              <ion-text>2016</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon class="ion-margin-end" name="calendar"></ion-icon>
              <ion-text>Check In</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="fontSize" size="6">
              <strong>16</strong>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-text>MAY</ion-text>
              </ion-row>
              <ion-row>
                <ion-text>2016</ion-text>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-icon class="ion-margin-end ion-margin-start" name="bed"></ion-icon>
        <ion-text>Rooms</ion-text>
      </ion-col>
      <ion-col>
        <ion-icon class="ion-margin-end ion-margin-start" name="people"></ion-icon>
        <ion-text>Travellers</ion-text>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-grid class="ion-no-margin ion-no-padding">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col style="border-right: 1px solid lightgray">
            <ion-item class="ion-align-items-center" lines="none">
              <ion-text>Room 1</ion-text>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-select value="1">
                <ion-select-option value="1">1</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
</ion-card>
