<ion-split-pane (ionSplitPaneVisible)="ionSplitPaneVisible($event)" when="md" contentId="main">
  <ion-menu contentId="main" style="--background: url('./assets/admin/admin_sidebar_background.jpg') 0 0/100% 100% no-repeat">

    <ion-header mode="ios" style="--background: transparent">
      <ion-toolbar style="--background: transparent">
        <ion-text color="primary">
          <div style="color: gold" class="ion-text-center">Golden72</div>
        </ion-text>
      </ion-toolbar>
    </ion-header>

    <ion-content   style="--background:  transparent">
      <ion-list  style="background: transparent">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item   style="--background: transparent; --color: white" routerDirection="root" class="ion-no-padding ion-no-margin" [routerLink]="'/admin-home/'+p.title"
                    lines="none" detail="false"
                    routerLinkActive="selected">
            <ion-icon style="color: white"  class="ion-margin-start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label style="padding-left: 5px"><small>{{ p.title }}</small></ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list style="background: transparent" id="labels-list">
        <ion-list-header style="color: white">Additional Features</ion-list-header>

        <ion-menu-toggle auto-hide="false" *ngFor="let additionalFeature of additionalFeatures">
          <ion-item style="--background: transparent" routerDirection="root" class="ion-no-padding ion-no-margin"
                    [routerLink]="'/admin-home/'+additionalFeature.title" lines="none">
            <ion-icon style="color: white" class="ion-margin-start" [ios]="additionalFeature.icon + '-outline'"
                      [md]="additionalFeature.icon + '-sharp'"></ion-icon>
            <ion-label style="padding-left: 5px; color: white"><small>{{ additionalFeature.title }}</small></ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item  style="--background:  transparent" class="ion-no-padding ion-no-margin" routerDirection="root" routerLink="" (click)="signOut()"
                    lines="none">
            <ion-icon style="color: white" class="ion-margin-start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
            <ion-label style="padding-left: 5px; color: white">Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main">
    <!--    <ion-header mode="ios">-->
    <!--      <ion-toolbar>-->
    <!--        <ion-buttons slot="start">-->
    <!--          <ion-menu-button></ion-menu-button>-->
    <!--        </ion-buttons>-->
    <!--        <ion-title>Welcome</ion-title>-->
    <!--       </ion-toolbar>-->
    <!--    </ion-header>-->

    <!--    <ion-buttons slot="start">-->
    <!--      <ion-menu-button></ion-menu-button>-->
    <!--    </ion-buttons>-->

    <ion-content class="ion-padding">

<!-- <ion-header>-->
<!--        <ion-toolbar>-->
<!--          <ion-text >-->
<!--            <div class="ion-text-center"><b>Golden72</b></div>-->
<!--          </ion-text>-->
<!--        </ion-toolbar>-->
<!--      </ion-header>-->
<!--      <ion-grid class="ion-text-center" >-->
<!--        <ion-row>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/ROOM">-->
<!--              <ion-card-title class="ion-padding">Room</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/POS">-->
<!--              <ion-card-title class="ion-padding">Pos</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/STORE">-->
<!--              <ion-card-title class="ion-padding">Store</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/RESTAURANT">-->
<!--              <ion-card-title class="ion-padding">Restaurant</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/INVENTORY">-->
<!--              <ion-card-title class="ion-padding">Inventory</ion-card-title>-->
<!--            </ion-card>-->
<!--           </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/LOG">-->
<!--              <ion-card-title class="ion-padding">Log</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/SETTING">-->
<!--              <ion-card-title class="ion-padding">Setting</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->


<!--        </ion-row>-->
<!--      </ion-grid>-->
<!--        <ion-text>-->
<!--          <ins >Golden additional features </ins>-->
<!--        </ion-text>-->
<!--      <ion-grid>-->
<!--        <ion-row>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/USERS">-->
<!--              <ion-card-title class="ion-padding">Users</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/PERMISSIONS">-->
<!--              <ion-card-title class="ion-padding">Permissions</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--          <ion-col size="auto">-->
<!--            <ion-card button="true" routerLink="/admin-home/">-->
<!--              <ion-card-title class="ion-padding">Log out</ion-card-title>-->
<!--            </ion-card>-->
<!--          </ion-col>-->
<!--        </ion-row>-->
<!--      </ion-grid>-->


      <ion-router-outlet></ion-router-outlet>


    </ion-content>
  </div>

</ion-split-pane>

