<ion-split-pane (ionSplitPaneVisible)="ionSplitPaneVisible($event)" when="md" contentId="main">
  <ion-menu contentId="main"
            style="--background: url('./assets/admin/admin_sidebar_background.jpg') 0 0/100% 100% no-repeat">

    <ion-header mode="ios" style="--background: transparent" routerLink="/welcome" fragment="Login">
      <ion-toolbar class="ion-text-center" style="--background: transparent ; cursor: pointer">
        <ion-text color="warning"><small>Golden</small><sup>72</sup></ion-text>
      </ion-toolbar>
    </ion-header>

    <ion-content style="--background:  transparent">
      <ion-list style="background: transparent">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">

          <ion-button size="small" [title]="p.title" fill="clear" [routerLink]="'/admin-home/'+p.title"
                      [fragment]="p.title">
            <ion-icon size="small" slot="icon-only" style="color: white" [ios]="p.icon + '-outline'"
                      [md]="p.icon + '-sharp'"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-list>


      <div style="border-bottom: 1px solid lightcyan; margin: 5px;"></div>
      <ion-list style="background: transparent" id="labels-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let additionalFeature of additionalFeatures">
          <ion-button size="small" [title]="additionalFeature.title" fill="clear"
                      [routerLink]="'/admin-home/'+additionalFeature.title" [fragment]="additionalFeature.title">

            <ion-icon size="small" slot="icon-only" style="color: white" [ios]="additionalFeature.icon + '-outline'"
                      [md]="additionalFeature.icon + '-sharp'"></ion-icon>
          </ion-button>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item style="--background:  transparent" class="ion-no-padding ion-no-margin" routerDirection="root"
                    routerLink="" (click)="signOut()"
                    lines="none">
            <ion-icon style="color: white" class="ion-margin-start" [ios]="'log-out-outline'"
                      [md]="'log-out-sharp'"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main">

    <ion-content scroll-y="false" class="ion-no-padding ion-no-margin" style="--background: #F6F7F9">

      <ion-header mode="ios">
        <ion-toolbar style="--background: linear-gradient(to right, #0C3959, rgba(12,57,89,0.81))">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <app-multi-header [getFragment]="fragment"></app-multi-header>

          <ion-text   slot="end" color="light" class="ion-margin-end"><strong>{{fragment}}</strong></ion-text>


        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>

    </ion-content>
  </div>

</ion-split-pane>

