<ion-split-pane when="md" contentId="main">
  <ion-menu contentId="main">

    <ion-header>
      <ion-toolbar style=" font-family:monospace; border-style: double; color: gold">
        <ion-title style="background-color:white ;text-align: center">Golden 72</ion-title>
        <ion-card-subtitle style=" color:white;text-align:right;
        border-width: 5px;
        float: right;
        border-style:double; background-color: gold
       ">Inn</ion-card-subtitle>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="'/admin-home/'+p.title"   lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

              <ion-list id="labels-list">
                <ion-list-header>Additional Features</ion-list-header>

                <ion-menu-toggle auto-hide="false" *ngFor="let additionalFeature of additionalFeatures">
                <ion-item routerDirection="root" [routerLink]="'/admin-home/'+additionalFeature.title"  lines="none">
                  <ion-icon slot="start" [ios]="additionalFeature.icon + '-outline'" [md]="additionalFeature.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ additionalFeature.title }}</ion-label>
                </ion-item>

                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" routerLink="" (click)="signOut()" lines="none">
                    <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
                    <ion-label>Logout</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </ion-list>
    </ion-content>
  </ion-menu>


  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Main View</ion-title>
        <ion-button slot="end" (click)="add()">Add</ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>

</ion-split-pane>

