<ion-header>
    <ion-toolbar>
        <ion-title>
            Header
        </ion-title>
    </ion-toolbar>
</ion-header>


   <ion-content>
       <ion-grid>
      <ion-row>
        <ion-col offset-xs="2" size-xs="8">
            <ion-item fill="outline" class="ion-margin"  *ngFor="let inputs of formInputs">
              <ion-label position="stacked">
                {{inputs.name}}
              </ion-label>
              <ion-input  [type]="inputs.type" [formControlName]="inputs.formControlName">
              </ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-button (click)="addProduct()" [disabled]="formGroup.invalid" slot="end">
                    Add product
                </ion-button>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-content>
