<ion-header>
    <ion-toolbar>
        <ion-title>
            Header
        </ion-title>
    </ion-toolbar>
</ion-header>


   <ion-content>
       <ion-grid>
      <ion-row>
        <ion-col offset-xs="2" size-xs="8">
            <ion-item fill="outline" class="ion-margin">
              <ion-label position="stacked">
                Code
              </ion-label>
              <ion-input>
              </ion-input>
            </ion-item>

            <ion-item fill="outline" class="ion-margin">
              <ion-label  position="stacked">
                Name
              </ion-label>
              <ion-input>
              </ion-input>
            </ion-item>

            <ion-item fill="outline" class="ion-margin">
              <ion-label  position="stacked">
                Price
              </ion-label>
              <ion-input>
              </ion-input>
            </ion-item>

            <ion-item fill="outline" class="ion-margin">
              <ion-label  position="stacked">
                Count
              </ion-label>
              <ion-input>
              </ion-input>
            </ion-item>

            <ion-item color="mudiman">
                <ion-button>
                    Add
                </ion-button>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-content>
