<ion-content>
    <ion-card >
    <ion-card style="width: 50%;">
    <ion-item fill="outline"  mode="ios">
        <ion-label position="stacked">
            Code
        </ion-label>
        <ion-input>
        </ion-input>
    </ion-item>
    </ion-card>

    <ion-card style="width: 50%;">
    <ion-item fill="outline" mode="ios">
        <ion-label  position="stacked">
            Name
        </ion-label>
        <ion-input>
        </ion-input>
    </ion-item>
    </ion-card>

    <ion-card style="width: 50%;">
        <ion-item fill="outline" mode="ios">
            <ion-label  position="stacked">
                Price
            </ion-label>
                <ion-input>
                </ion-input>
        </ion-item>
    </ion-card>

    <ion-card style="width: 50%;">
        <ion-item fill="outline" mode="ios">
            <ion-label  position="stacked">
                Count
            </ion-label>
                <ion-input>
                </ion-input>
        </ion-item>
    </ion-card>
    </ion-card>
</ion-content>