<ion-header mode="ios">
  <ion-toolbar  style="--background: linear-gradient(to right, #0C3959, rgba(12,57,89,0.81))">
    <ion-grid>
      <ion-row>

        <ion-col size="auto" class="ion-no-margin ion-no-padding">
          <ion-buttons class="ion-no-margin ion-no-padding">
            <ion-menu-button class="ion-no-margin ion-no-padding"></ion-menu-button>
          </ion-buttons>
        </ion-col>

        <ion-col size="1">
          <ion-text slot="start"><strong>ROOMS</strong></ion-text>
        </ion-col>

        <ion-col class="ion-no-margin ion-no-padding">
          <ion-segment  class="ion-no-margin ion-no-padding" scrollable="true" value="CheckIn"
                       (ionChange)="selectedSegment($event)">
            <ion-segment-button class="ion-no-margin ion-no-padding" value="TimeOver">
              <ion-label><strong>TimeOver</strong></ion-label>
            </ion-segment-button>
            <ion-segment-button class="ion-no-margin ion-no-padding" value="NearlyTimeUp">
              <ion-label><strong>NearlyTimeUp</strong></ion-label>
            </ion-segment-button>
            <ion-segment-button class="ion-no-margin ion-no-padding" value="CheckIn">
              <ion-label><strong>CheckIn</strong></ion-label>
            </ion-segment-button>
            <ion-segment-button class="ion-no-margin ion-no-padding" value="Available">
              <ion-label><strong>Available</strong></ion-label>
            </ion-segment-button>
            <ion-segment-button class="ion-no-margin ion-no-padding" value="Booking">
              <ion-label><strong>Booking</strong></ion-label>
            </ion-segment-button>
            <ion-segment-button class="ion-no-margin ion-no-padding" value="All">
              <ion-label><strong>All</strong></ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <!--      <ion-col *ngIf="scrollIndex" size-xs="12" size-md="6" pull-md="5.5" pull-lg="4">-->
        <!--         <ion-searchbar style="height: 35px; padding: 0;  margin: 0; margin-inside: 0"></ion-searchbar>-->
        <!--        </ion-col>-->

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<cdk-virtual-scroll-viewport *ngIf="siteInformationService.siteInformation"
                             (scrolledIndexChange)="scrollIndexEvent($event)" class="ion-content-scroll-host"
                             itemSize="56" minBufferPx="900" maxBufferPx="1350">
  <ion-grid *ngFor="let building of siteInformationService.siteInformation.roomData | buildingFilterPipe : segment">

    <ion-row>
      <ion-title><strong>{{building.buildingName}}</strong></ion-title>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let room of building.rooms"
               size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="3">
        <app-room-ui [roomData]="room"></app-room-ui>
      </ion-col>
    </ion-row>
    <ion-item-divider style="--background: transparent; border-bottom: 1px solid lightgreen"></ion-item-divider>
  </ion-grid>


</cdk-virtual-scroll-viewport>


