<cdk-virtual-scroll-viewport *ngIf="siteInformationService.siteInformation"
                             (scrolledIndexChange)="scrollIndexEvent($event)" class="ion-content-scroll-host"
                             itemSize="56" minBufferPx="900" maxBufferPx="1350">
  <ion-grid *ngFor="let building of siteInformationService.siteInformation.roomData | buildingFilterPipe : segment">

    <ion-row>
      <ion-title><strong>{{building.buildingName}}</strong></ion-title>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let room of building.rooms"
               size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="3">
        <app-room-ui [roomData]="room"></app-room-ui>
      </ion-col>
    </ion-row>
    <ion-item-divider style="--background: transparent; border-bottom: 1px solid lightgreen"></ion-item-divider>
  </ion-grid>


</cdk-virtual-scroll-viewport>


