<ion-card *ngFor="let i of [1,2,3]">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size-xs="1.3" >
        <ion-skeleton-text class="ion-no-padding" style="height: 11vh;width: 7vw"></ion-skeleton-text>
      </ion-col>
      <ion-col>
        <ion-skeleton-text style="width: 7vw;height: 3vh">
        </ion-skeleton-text>
        <ion-skeleton-text style="width: 5vw;height: 3vh"></ion-skeleton-text>
      </ion-col>
      <ion-col  size-xs="1.5">
        <ion-skeleton-text  style=" height:6vh;width:8vw">
        </ion-skeleton-text>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

