<ion-header mode="ios">
  <ion-toolbar style="--background: linear-gradient(to right, #0C3959, rgba(12,57,89,0.81))">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Admin Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="3" *ngFor="let data of adminWelcomeData">
        <app-navigation-detail-card [navigationDetailData]="data"></app-navigation-detail-card>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--  <ion-text>-->
<!--    <ins>Golden additional features</ins>-->
<!--  </ion-text>-->
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col>-->
<!--        <ion-card button="true" routerLink="/admin-home/USERS">-->
<!--          <ion-card-title class="ion-padding">Users</ion-card-title>-->
<!--        </ion-card>-->
<!--      </ion-col>-->
<!--      <ion-col>-->
<!--        <ion-card button="true" routerLink="/admin-home/PERMISSIONS">-->
<!--          <ion-card-title class="ion-padding">Permissions</ion-card-title>-->
<!--        </ion-card>-->
<!--      </ion-col>-->
<!--      <ion-col>-->
<!--        <ion-card button="true" routerLink="/admin-home/">-->
<!--          <ion-card-title class="ion-padding">Log out</ion-card-title>-->
<!--        </ion-card>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
</ion-content>
