<ion-header mode="ios" style="--background: transparent" routerLink="/welcome" fragment="Login">
  <ion-toolbar class="ion-text-center" style="--background: transparent ; cursor: pointer">
    <ion-text color="warning"><strong>Golden72</strong></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar class="ion-text-center">
      <ion-col style="color: gold">Profile</ion-col>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size-xs="6" size-sm="6" size-md="12" size-lg="12">
        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
              <ion-item-divider class="background-item color-item">
                <span style="display: block; text-align: center; width: 100%">ID</span>
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider class="background-item color-item ">
                <span style="display: block; text-align: center; width: 100%">Name</span>
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider class="background-item color-item">
                <span style="display: block; text-align: center; width: 100%">Email</span>
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider class="background-item color-item">
                <span style="display: block; text-align: center; width: 100%">Phone</span>
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider class="background-item color-item">
                <span style="display: block; text-align: center; width: 100%">Action</span>
              </ion-item-divider>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="12" size-lg="12">

        <ion-grid class="ion-no-margin ion-no-padding">
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
              <ion-item-divider color="black">
                730
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider color="black">
                ROBERTgj
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider color="black">
                linhtetkyaw1478@email.com
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider color="black">
                09976538088
              </ion-item-divider>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="2.75" size-lg="2.75">
              <ion-item-divider color="black">
                <ion-icon name="ban-sharp"></ion-icon>
              </ion-item-divider>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card>
    <ion-grid>
      <ion-row class="ion-text-center">

      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <ion-row class="ion-text-center">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" style="color:black">Details</ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Pokémon Yellow
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Mega Man X
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              The Legend of Zelda
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Pac-Man
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Need For Speed
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Counter Strike 3
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              PUBG
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Apex Legend
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <ion-row class="ion-text-center">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" style="color: black">Role</ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Poker 6
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Jumper
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Boxing
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              E-football 2023
            </ion-col>

            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Fifa 2023
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Www3
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Golden Founder
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              Cooker Maker
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
