<ion-header mode="ios">
  <ion-toolbar>
       <ion-button (click)="addBuildingName()" size="small">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>Building Name
      </ion-button>
      <ion-button size="small">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>Room Number
      </ion-button>
   </ion-toolbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="siteInformation &&  siteInformation.buildingName.length">
    <ion-row>
      <ion-col size-xs="2" size-sm="3" size-md="3"  *ngFor="let building of siteInformation.buildingName" >
        <ion-card class="ion-text-center ion-padding" mode="ios">
          <ion-label class="ion-text-wrap ion-padding ion-margin">
            <strong>{{building.name}}</strong></ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
