<!--<ion-header mode="ios">-->
<!--  <ion-toolbar style="&#45;&#45;background: linear-gradient(to right, #0C3959, rgba(12,57,89,0.81))">-->
<!--    <ion-title class="ion-text-start" color="light">-->
<!--      POS-->
<!--    </ion-title>-->

<!--    <ion-button size="small" color="warning" style="font-family: Tahoma, sans-serif;-->
<!--                               &#45;&#45;text-shadow: 1px 1px 0 rgba(255,255,255)"-->
<!--                fill="clear" expand="block" (click)="searchStateChange()">-->
<!--      Search with  {{searchState}}-->
<!--    </ion-button>-->

<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>

  <div #divElement>

    <div *ngIf="(divElement.clientWidth + (splitPaneState === true ? 50 : 0)) as getWidth">
      <ion-grid>
        <ion-row>

          <ion-col [sizeXs]="getWidth < 992 ? 12 : 3">


            <app-multi-form  [formData]="searchFormData"></app-multi-form>

          </ion-col>

          <ion-col [size]="getWidth  < 992 ? 12 : 9">

            <app-multi-list-ui [listData]="dataList" [getWidth]="getWidth"></app-multi-list-ui>

          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
