<ion-header mode="ios">
  <ion-toolbar style="--background: linear-gradient(to right, #0C3959, rgba(12,57,89,0.81))">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Pos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="ion-no-margin ion-no-padding">
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size-xs="6" size-sm="6" size-md="12" size-lg="12">
      <ion-grid class="ion-no-margin ion-no-padding">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider class="background-item color-item">
              <span style="display: block; text-align: center; width: 100%">Name</span>
            </ion-item-divider>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider class="background-item color-item ">
              <span style="display: block; text-align: center; width: 100%">Price</span>
            </ion-item-divider>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider class="background-item color-item">
              <span style="display: block; text-align: center; width: 100%">Code</span>
            </ion-item-divider>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider class="background-item color-item">
              <span style="display: block; text-align: center; width: 100%">Count</span>
            </ion-item-divider>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider class="background-item color-item">
              <span style="display: block; text-align: center; width: 100%">Capital</span>
            </ion-item-divider>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider class="background-item color-item">
              <span style="display: block; text-align: center; width: 100%">Total</span>
            </ion-item-divider>
          </ion-col>



          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider class="background-item color-item">
              <span style="display: block; text-align: center; width: 100%">Action</span>
            </ion-item-divider>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col size-xs="6" size-sm="6" size-md="12" size-lg="12">

      <ion-grid class="ion-no-margin ion-no-padding">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider color="black">
              ROBERT
            </ion-item-divider>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider color="black">
              $500
            </ion-item-divider>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider color="black">
            307
            </ion-item-divider>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider color="black">
              55
            </ion-item-divider>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider color="black">
              $1000
            </ion-item-divider>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider color="black">
              $500
            </ion-item-divider>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="1.714285714285714285" size-lg="1.714285714285714285">
            <ion-item-divider color="black">
              <ion-icon name="ban-sharp"></ion-icon>
            </ion-item-divider>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-col>


  </ion-row>
</ion-grid>

