<h1>{{props}}</h1>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
            <ion-list inset="true">
              <ion-item-divider *ngFor="let i of [1,2,3,4,5]">
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <ion-col size="3">
                      <ion-text>Pokémon Yellow</ion-text>
                    </ion-col>

                    <ion-col size="3.25">
                      <ion-label>Price</ion-label>
                    </ion-col>

                    <ion-col size="2.5">
                      <strong>Count</strong>
                    </ion-col>

                    <ion-col size="3.25">
                      <ion-label>total</ion-label>
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-item-divider>

            </ion-list>
      </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>
