<ion-content>
  <app-store-skeleton *ngIf="loaded"></app-store-skeleton>

<ion-card mode="ios" *ngFor="let i of [1,2,2,2,3,4,5,6,7,8,9,10]">
  <ion-grid >
    <ion-row class="ion-text-center">
      <ion-col size ="2.4" >
        <small>NO</small>
      </ion-col>
      <ion-col size="2.4">
        <small>property name</small>
      </ion-col>
      <ion-col size="2.4">
        <small>price</small>
      </ion-col>
      <ion-col size="2.4">
        <small>count</small>
      </ion-col>
      <ion-col size="2.4">
        <small>total</small>
      </ion-col>
    </ion-row>
  <ion-row class="ion-text-center">
    <ion-col size="2.4">
      1
    </ion-col>
    <ion-col size="2.4">
      cola
    </ion-col>
    <ion-col size="2.4">
      1000
    </ion-col>
    <ion-col size="2.4">
      10
    </ion-col>
    <ion-col size="2.4">
      10000
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-card>
</ion-content>

