<!--<ion-content>-->
<!--  <app-store-skeleton *ngIf="loaded"></app-store-skeleton>-->

<!--<ion-grid mode="ios" *ngFor="let i of [1,2,2,2,3,4,5,6,7,8,9,10]">-->

<!--</ion-grid>-->
<!--</ion-content>-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="2" size-xs="1" style="background: honeydew">
        1
      </ion-col>
      <ion-col size-md="10" size-xs="11" style="background: #7d7d7d">
        water and rice
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2" size-md="3.3" size-xs="10" >
        price
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
