<ion-header mode="ios">
<!--  <ion-toolbar style="&#45;&#45;background: linear-gradient(to right, rgba(9,40,68,0.9), rgba(13,9,68,0.9))">-->
    <ion-toolbar style="--background: transparent">

    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title color="light">PLAYGROUND</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="transparent-for-ionic-component-tag">
  <ion-grid>
    <ion-row>

      <ion-col *ngFor="let playGround of playGroundUrl" size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4">
<!---->
        <app-playground-ui [playGroundData]="playGround"></app-playground-ui>
<!---->
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
